input:focus, textarea:focus {
    outline: none;
}
section {
    width: 98%;
    height: 62%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task_container {
    width: 97.3%;
    height: 94%;
    padding: 0 15px 15px 15px;
}
.task_btn {
    padding: 3px 10px 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.task_btn input {
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    margin-right: 25px;
    padding: 10px;

    cursor: pointer;
}
.task_check {
    background-color: rgb(241, 83, 83);
    color: white;
    border: 1px solid rgb(241, 83, 83);
}
.task_send {
    background-color: dodgerblue;
    color: white;
    border: 1px solid dodgerblue;
}
.task_send:hover, .task_allread:hover, .task_progress:hover, .task_complete:hover {
    background-color: skyblue;
    border: 1px solid skyblue;
}
.task_list {
    border: 1px solid black;
}
.task_table {
    width: 100%;
}
.task_table thead, .task_table tbody, .task_table tfoot {
    text-align: center;
}
.task_table tr td {
    border: 1px solid black;
    padding: 10px;
}
.task_table thead tr td {
    font-size: 20px;
    font-weight: bold;
}
.task_detail {
    color: black;
    text-decoration: none;

    display: block;
}
.task_table tbody tr:hover .task_detail {
    color: #666666;
}
.paging td a {
    color: black;
    text-decoration: none;
}
.all_check, .one_check {
    width: 30px;
    height: 30px;
}